meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
link(rel="stylesheet",href="/css/styles.css")
link(href="https://fonts.googleapis.com/css2?family=Sura&display=swap",rel="stylesheet")
script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-storage.js")
script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js")
script(src="/js/items/init-firebase.js")