//-  <!-- Bootstrap CSS CDN -->
link(rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
  crossorigin="anonymous")
//-  <!-- Our Custom CSS -->
link(rel="stylesheet" href="/css/style.css")
//-  <!-- Scrollbar Custom CSS -->
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css")
//-  <!-- Firebase -->
script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-storage.js")
script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js")
script(src="/js/items/init-firebase.js")
//-  <!-- Cart -->
script(src="/js/cart/cart.js")
//-  <!-- Events -->
script(src="/js/render.js")
script(src="/js/helpers.js")
	
//-
	link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
	link(rel="stylesheet",href="/css/styles.css")
	link(href="https://fonts.googleapis.com/css2?family=Sura&display=swap",rel="stylesheet")