nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    button#sidebarCollapse.btn.btn-vete
      i.fa.fa-align-left.mr-1
      span Menu
    if session.path === "/notices"
      button#new_story_home.btn.btn-secondary.d-inline-block.ml-auto.action-admin(title="Nueva entrada")
        i.fa.fa-plus
    button.btn.btn-outline-warning.ml-2
      i.fa.fa-shopping-cart.mr-1
      span 0