doctype html
html(lang="es")
  head
    include ./includes/head.jade
    block title
      title Central-Vet Pigüé
  body
    include ./includes/menu.jade
    block content
    include ./includes/footer.jade