doctype html
html(lang="es")
  head
    block title
      title Central-Vet Pigüé
    include ./includes/head.jade
  body
    .wrapper
      nav#sidebar
        include ./includes/sidebar.jade
      #content
        include ./includes/menu.jade
        block content
      .overlay
    include ./includes/footer.jade