body {
  background-color: #e9ecef;
}
section#menu img#logo{
  border-radius: 50%
}
.form-group{
  margin-bottom: 1rem!important;
  display: block!important;
}
#footer a,.breadcrumb a{
  text-decoration: none;
}
.alert,.breadcrumb{
  margin-bottom: 0;
}
#checkoutBtn{
  display: inline-block;
}
#addToCartBtn{
  display: inline-block;
}
#menu .navbar {
  background-color: #7952b3
}
#footer{
  background-color: #e9ecef;
  padding-top: 2rem;
  color: #212529;
}
#footer a:hover {
  color: #007bff;
}
#footer a{
  color: #212529;
}
#footer h3{
  color: #007bff;
}
#footer-logo{
  border-radius: 50%;
  max-width: 120px;
}
#preview{
  max-height: 100px
}
.jumbotron{
  background-color: #e9ecef;
  margin: 0;
}
.img-center{
  margin: 0 auto;
  display: block;
}
.img-list{
  max-height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}
.img-view{
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.price-list{
  font-size: 24px;
}
.title-list{ 
  font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.price-view{
  font-size: 44px;
}
.title-view{ 
  font-size: 26px;
}
.items{
  margin-bottom: 2rem
}
#items a {
  text-decoration: none;
  color: inherit;
}
#items a.btn {
  color: #fff;
}
.btn-delete{
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
}
.btn-vete{
  color: #fff!important;
  background-color: #7952b3;
  border-color: #7952b3;
}
.btn-vete:hover{
  background-color: indigo!important;
  border-color: indigo!important;
}
.shadow{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
}
.dropdown{
  color: #fff
}
.dropdown img{
  border-radius: 50%
}
@media (max-width: 575.98px) {
  #breadcrumb{
    display: none;
  }
  .container, .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .card{
    border: 0px;
  }
  .img-view{
    max-height: 200px;
  }
  .img-list{
    height: 150px;
    padding-right: 10px!important;
  }
  .title-list{
    font-size: 14px;
  }
  .price-list{
    font-size: 20px;
  }
  .price-view{
    font-size: 32px;
  }
  .mp0{
    margin: 0;
    padding: 0;
  }
  #checkoutBtn,#addToCartBtn{
    display: block;
    width: 100%
  }
}
@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}