body {
  background-color: #ededed;
}
section#menu img#logo{
  border-radius: 50%
}
#checkoutBtn{
  display: inline-block;
}
#addToCart{
  display: inline-block;
}
#menu .navbar {
  background-color: indigo
}
#preview{
  max-height: 100px
}
.img-center{
  margin: 0 auto;
  display: block;
}
.img-list{
  max-height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
}
.img-view{
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.price-list{
  font-size: 24px;
}
.title-list{ 
  font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.price-view{
  font-size: 44px;
}
.title-view{ 
  font-size: 26px;
}
#items a {
  text-decoration: none;
  color: inherit;
}
#items a.btn {
  color: #fff;
}
.btn-delete{
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
}
.shadow{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
}
@media (max-width: 575.98px) {
  .container, .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .card{
    border: 0px;
  }
  .img-view{
    max-height: 200px;
  }
  .img-list{
    height: 150px;
    padding-right: 10px!important;
  }
  .title-list{
    font-size: 14px;
  }
  .price-list{
    font-size: 20px;
  }
  .price-view{
    font-size: 32px;
  }
  .mp0{
    margin: 0;
    padding: 0;
  }
  #checkoutBtn,#addToCart{
    display: block;
    width: 100%
  }
}
@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}