doctype html
html(lang="es")
  head
    title 
  body
    form(onsubmit="createPreference(event)")
      input(type="text", name="title", placeholder="title", required)
      input(type="number", name="qty", placeholder="qty", required)
      input(type="number", name="price", placeholder="price", step="0.05", required)
      input(type="text", name="currency_id", value="ARS", disabled, required)
      input(type="submit", value="submit")
    pre#response
    a#link
  script(src="/js/create-preference-form.js")
