- const isAdmin = (email) => { if (email === "rod7val@gmail.com") { return true } return false }
//- index.jade
extends ../layout.jade

block content
  //- dinamic vars
  script.
    window.$user = !{JSON.stringify(session && session.user ? session.user : null).replace(/<\//g, "<\\/")}
  section#breadcrumb.container
    nav(aria-label="breadcrumb")
      ol(class="breadcrumb")
        li.breadcrumb-item
          a(href="/") Inicio
        li.breadcrumb-item.active(aria-current="page") Productos
  section#main.items.container
    h2 Productos &nbsp;
      if (session && session.user) ? session.user.email === "rod7val@gmail.com" : null
        small
          button(class="btn btn-primary btn-sm",data-toggle="modal",data-target="#addItem") Agregar
    include ./createItem.jade
    ul#items.list-group cargando...
  script(src="/js/items/all.js")
