//- index.jade
extends ../layout.jade

block content
  section#main.container
    h2 Productos &nbsp;
      small
        button(class="btn btn-secondary btn-sm",data-toggle="modal",data-target="#addItem") Agregar
    include ./createItem.jade
    ul#items.list-group cargando...
  script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
  script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-storage.js")
  script(src="/js/items/init-firebase.js")
  script(src="/js/items/all.js")
