//- index.jade
extends ../layout.jade

block content
  section#breadcrumb.container
    nav(aria-label="breadcrumb")
      ol(class="breadcrumb")
        li.breadcrumb-item
          a(href="/") Inicio
        li.breadcrumb-item.active(aria-current="page") Productos
  section#main.container
    h2 Productos &nbsp;
      small
        button(class="btn btn-secondary btn-sm",data-toggle="modal",data-target="#addItem") Agregar
    include ./createItem.jade
    ul#items.list-group cargando...
  script(src="/js/items/all.js")
